<style>
  th,
  td {
    border: 2px solid #ffffff;
  }
</style>



<section class=" text-white  mx-10 my-10 p-4 relative overflow-hidden">
  <h2 class="text-center text-lg font-semibold mb-4">Tabla de Información</h2>
  <div class="overflow-auto shadow-lg ">
    <table
      class="w-full overflow-hidden bg-slate-900 table-auto rounded-[19px] border-2 border-white  border-collapse border-spacing-0">
      <thead>
        <tr class="bg-gradient-to-r from-indigo-700 to-purple-700">
          <th class="py-2 px-4  ">Marca</th>
          <th class="py-2 px-4 ">Modelo</th>
          <th class="py-2 px-4 ">Recambios</th>
          <th class="py-2 px-4">Precio</th>
          <th class="py-2 px-4  ">Duración</th>
        </tr>
      </thead>
      <tbody>
        <tr class="hover:bg-gray-800">
          <td class="py-2 px-4">Samsung</td>
          <td class="py-2 px-4">Galaxy S21</td>
          <td class="py-2 px-4">Pantalla</td>
          <td class="py-2 px-4">300€</td>
          <td class="py-2 px-4">2 años</td>
        </tr>
        <tr class="hover:bg-gray-800 white">
          <td class="py-2 px-4 ">Apple</td>
          <td class="py-2 px-4">iPhone 12</td>
          <td class="py-2 px-4">Batería</td>
          <td class="py-2 px-4">400€</td>
          <td class="py-2 px-4 border-b-4">3 años</td>
        </tr>
      </tbody>
    </table>
  </div>

</section>