<section
  class="bg-base-300 text-white border-solid flex md:mx-[25%] flex-col mx-6 sm:mx-10 my-10 rounded-4xl content-center min-h-[200px] relative">
  <article class="p-4 ">
    <h2 class="text-center text-lg font-semibold leading-7 md:text-2xl md:leading-14">CALCULADORA</h2>
  </article>
  <form class="px-6 md:px-12 flex flex-col gap-6" (ngSubmit)="onSubmit()" [formGroup]="presupuestoForm">
    <div class="element">
      <label for="marca" class=" mb-1 text-lg md:text-xl  font-normal">Marca:</label><br>
      <div class="flex items-center">
        <select name="marca" id="marca" class="w-[100%] select select-primary" (click)="getBrands()"
          (change)="onMarcaChange($event)">
          <option value="marca" disabled selected>Selecciona una marca</option>
          @for (brand of brands(); track $index) {
          <option value="{{brand}}">{{ brand }}</option>
          }

        </select>

      </div>
    </div>

    <div class="element">
      <label for="modelo" class=" mb-1 text-lg md:text-xl  font-normal">Modelo:</label><br>
      <div class="flex items-center">
        <select name="modelo" id="modelo" class="w-[100%]  select select-primary"
          (click)="getModels(this.brandSelected())" (change)="onModelChange($event)">
          <option disabled selected>Selecciona un modelo</option>
          @for (modelo of models(); track modelo) {
          <option [value]="modelo">{{ modelo }}</option>
          }
        </select>

      </div>
    </div>
    <div class="element">
      <label for="recambios" class=" mb-1 text-lg md:text-xl font-normal">Recambios:</label><br>
      @if (modelSelected()) {
      <div class="flex flex-wrap gap-2">
        @for (part of parts(); track $index) {
        <label class="inline items-center w-[100%]">
          <input type="checkbox" [checked]="isPartSelected(part)" [value]="part.name" [name]="part.id" [id]="part.id"
            class="mr-2 checkbox checkbox-accent " (change)="onCheckboxChange($event, part)">
          {{part.name}}
          <span class=" text-accent text-right float-end" [ngClass]="{ 'text-accent': isPartSelected(part) }"> {{
            (isPartSelected(part)) ? '+ ' + (part.price |
            currency:'EUR':'symbol':'1.2-2':'es') : part.price |
            currency:'EUR':'symbol':'1.2-2':'es'
            }}</span>
        </label>
        }
        <label for="totalprice" class="inline items-center text-lg w-[100%] my-5">Total:
          <span class="text-accent text-right  float-end">+ {{price() |
            currency:'EUR':'symbol':'1.2-2':'es'}}</span>
        </label>
      </div>
      }
    </div>
    <div class="text-center m-4">
      <button type="submit" class="px-6 py-2  btn btn-primary ">
        Guardar
      </button>
    </div>
  </form>


</section>