@import "tailwindcss";
@plugin "daisyui";

body {
  margin: 0;

  padding: 0;
  min-height: 100vh;

  /* background-color: rgb(14, 14, 14) */
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto';

}