<section class="bg-base-300 text-white md:mx-[25%] mx-10 my-10 rounded-4xl p-8 relative overflow-hidden shadow-lg">
  <h2 class="text-center text-2xl font-semibold mb-6">Contáctanos</h2>
  <form action="" method="post" class="space-y-4">
    <div>
      <label for="name" class="block text-lg font-medium">Nombre</label>
      <input type="text" id="name" name="name" placeholder="Tu nombre" class="w-full input input-info">
    </div>
    <div>
      <label for="email" class="block text-lg font-medium">Correo electrónico</label>
      <input type="email" id="email" name="email" placeholder="tu@correo.com" class="w-full input input-info">
    </div>
    <div>
      <label for="subject" class="block text-lg font-medium">Asunto</label>
      <input type="text" id="subject" name="subject" placeholder="Asunto" class="w-full input input-info">
    </div>
    <div>
      <label for="message" class="block text-lg font-medium">Mensaje</label>
      <textarea id="message" name="message" rows="10" placeholder="Escribe tu mensaje aquí"
        class="w-full input input-info"></textarea>
    </div>
    <div class="text-center mt-6">
      <button type="submit" class="px-8 py-3 btn btn-info">
        Enviar mensaje
      </button>
    </div>
  </form>
</section>