<main class="text-white">
  <section routerLink="/presupuesto"
    class="bg-transparent h-[80vh] md:h-[40vh] border-2 border-solid flex md:mx-20 md:flex-row flex-col mx-10  my-10 rounded-4xl content-center min-h-[200px] overflow-hidden transition-transform duration-200 hover:scale-105 focus:scale-105 cursor-pointer relative">

    <article
      class="flex-2/6 md:flex-1/2 flex items-center px-[8vw] 2xl:px-[10vw] xl:px-[8vw] lg:px-[4vw]  overflow-hidden">
      <h2 class="text-center text-lg  font-semibold leading-7 lg:text-2xl lg:leading-14 md:text-left">
        CALCULA LO QUE VALE
        ARREGLAR TU MÓVIL
        GRACIAS A NUESTRA
        CALCULADORA
        DE PRESUPUESTOS</h2>
    </article>
    <a routerLink="/presupuesto"
      class="bg-white h-16 text-black font-semibold p-5 rounded-2xl shadow hover:bg-purple-500 hover:text-white transition-colors duration-300 absolute cursor-pointer top-[80%] md:top-[40%] md:hidden left-[50%] z-10 translate-x-[-50%]">
      Presupuesto
    </a>

    <div class="flex-4/6 md:flex-1/2 w-full overflow-hidden">

      <article class=" bg-cover bg-center  scale-100 h-full md:w-full w-[150%]  bg-no-repeat "
        style="background-image: url('Designer.jpeg'); width: 100%; "></article>
    </div>




  </section>

  <section routerLink="/reparaciones"
    class="bg-transparent h-[80vh] md:h-[40vh] border-2 border-solid flex md:mx-20 md:flex-row flex-col mx-10  my-10 rounded-4xl content-center min-h-[200px] overflow-hidden transition-transform duration-200 hover:scale-105 focus:scale-105 cursor-pointer relative">

    <div class="flex-4/6 md:flex-1/2 w-full overflow-hidden order-2 md:order-0">

      <article class=" bg-cover bg-center  scale-100 h-full md:w-full w-[150%]  bg-no-repeat "
        style="background-image: url('foto2.jpeg'); width: 100%; "></article>
    </div>
    <a routerLink="/reparaciones"
      class="bg-white text-center  text-black font-semibold p-5 rounded-2xl shadow hover:bg-purple-500 hover:text-white transition-colors duration-300 absolute cursor-pointer top-[80%] md:top-[40%] md:hidden left-[50%] z-10 translate-x-[-50%]">
      Ver Reparaciones
    </a>


    <article
      class="flex-2/6 md:flex-1/2 flex items-center justify-center px-[8vw] 2xl:px-[10vw] xl:px-[8vw] lg:px-[4vw]  overflow-hidden">
      <h2 class="text-center text-lg  font-semibold leading-7 lg:text-2xl lg:leading-14 md:text-left ">
        CONSULTA COMO
        VA TU REPARACIÓN</h2>
    </article>




  </section>
</main>